.product_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.btn_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.submitButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}